.errorContainer{
    position: absolute;
    top:0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px;
}

.errorBox{
    width:200px;
    padding: 20px;
    background-color: rgb(255, 57, 57);
    border-radius:10px;
    transition: linear,500ms;
    border-radius:100px;
}

.error_parent_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

