
@font-face {
    font-family:"poppins";
    src: url("./assets/Poppins-Regular.ttf");
}

*{
    font-family: "poppins";
    color:ivory;
    user-select: none;
    user-zoom:fixed;
}

body{
    background-color: rgb(10, 10, 10);
    box-sizing: border-box;
    padding:0;
    margin:0 auto;
    padding:20px;
    overflow-y: hidden;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}